.register-main {
  display: flex;
  overflow-y: hidden !important;
  margin-top: -2rem;
}

.register-left, .register-right {
  flex-grow: 1;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.register-left {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  img {
    width: 400px;
    scale: 4;
    overflow: hidden;
  }
}

.register-right-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.register-right form {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.register-logo {
  align-self: center;
  padding-top: 50px;

  img {
    width: 50px;
  }
}

.register-center {
  margin: auto -2rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* top: -20px; */

  h2 {
    font-size: 35px;
    /* transform: translate(0px -); */
  }

  p {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.pass-input-div input {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


form input[type='email'],
form input[type='password'],
form input[type='text'] {
  width: 100%;
  /* scale:2 */
  padding: 16px;
  margin-bottom: 16px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.pass-input-div {
  position: relative;

  svg {
    font-size: 20px;
    position: absolute;
    right: 10px;
    bottom: 35px;
    cursor: pointer;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

form button[type='submit'] {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  color: rgb(31, 84, 158);
  background-color: #5d0e0e;
  
  transform: translate(0px -50px);
}

.register-center-options {
  display: flex;
  justify-content: space-between;
}

.remember-div {
  display: flex;
  align-items: center;
  column-gap: 5px;

  label {
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 2px;
  }
}

.forgot-pass-link {
  text-decoration: none;
  font-size: 13px;

  &:hover {
    text-decoration: underline;
  }
}

.register-center-buttons {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  button:nth-child(1) {
    background-color: black;
    color: white;
    border: 3px solid black;
    transition: background 1s, color 500ms;

    &:hover {
      color: #333;
      background-color: white;
    }
  }

  button:nth-child(2) {
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    transition: background 500ms;

    img {
      width: 30px;
    }

    &:hover {
      background: #c4c4c4c2;
    }
  }
}

.register-bottom-p {
  text-align: center;
  font-size: 15px;
  padding-bottom: 40px;

  a {
    text-decoration: none;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}