.home {
    .features {
        background-color: #f1fdf7;
        display: flex;
        justify-content: center;
        padding: 100px 0;


        &.dark {
            background-color: #0D084D;

            h1,
            h2,
            p,
            h6 {
                color: #fff !important;
                font-weight: 400 !important;
            }

            h1,
            h2 {
                font-weight: 500 !important;
            }

            h1>span {
                font-family: 'Noto Serif Display', serif;
                font-weight: 600;
            }

            .item>img {
                width: 100% !important;
            }

            button {
                background-color: var(--green-color);
                color: #fff;
                padding: 10px 20px;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
                margin-top: 20px;
                border: none;
                width: max-content;
            }
        }

        .container {
            display: flex;
            width: 90%;
            align-items: center;
            gap: 50px;

            @media screen and (max-width: 900px) {
                flex-direction: column;
                gap: 20px;
            }
        }

        .item {
            display: flex;
            flex-direction: column;
            gap: 15px;

            h1 {
                font-weight: 700;
                margin-bottom: 10px;
                font-size: 38px;
                color: #404145;
            }

            p {
                font-size: 18px;
                font-weight: 500;
                color: #62646A;
                line-height: 26px;
            }

            .title {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 24px;
                    height: 24px;
                }

                h6 {
                    color: #404145;
                    font-weight: 700;
                    font-size: 18px;
                }
            }

            video {
                width: 720px;

                @media screen and (max-width: 900px) {
                    width: 100%;
                }
            }
        }
    }
}


.login-main {
    display: flex;
    overflow-y: hidden !important;
    margin-top: -10rem;
    /* margin-bottom: 20rem; */
}



.login-right {
    height: 108vh;
    flex-grow: 1;
}

.login-right-container {
    height: 100%;
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-right form {
    display: flex;
    flex-direction: column;
}

.login-logo {
    align-self: center;
    padding-top: 50px;
    scale: 3;
}

.login-center {
    margin: auto 0;
}

.login-logo img {
    width: 50px;
}

.login-center h2 {
    font-size: 35px;
}

.login-center {
    text-align: center;
}

.login-center p {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 40px;
}

form input[type='email'],
form input[type='password'],
form input[type='text'] {
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    border: 0px;
    border-bottom: 1px solid black;
    outline: none;
    box-sizing: border-box;
}

.pass-input-div {
    position: relative;
}

.pass-input-div svg {
    font-size: 20px;
    position: absolute;
    right: 10px;
    bottom: 35px;
    cursor: pointer;
    outline: none;
}

form button[type='submit'] {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 600;
}

.login-center-buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.login-center-buttons button:nth-child(1) {
    background-color: black;
    color: white;
    border: 3px solid black;
    transition: background 1s linear 0ms;
    transition: color 500ms linear 0ms;
}

.login-center-buttons button:nth-child(1):hover {
    color: #333;
    background-color: white;
}

.login-center-buttons button:nth-child(2) {
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    transition: background 500ms linear 0ms;
}

.login-center-buttons button:nth-child(2) img {
    width: 30px;
}

.login-center-buttons button:nth-child(2):hover {
    background: #c4c4c4c2;
}

.login-bottom-p a {
    text-decoration: none;
    font-weight: 600;
}

.login-bottom-p a:hover {
    text-decoration: underline;
}