@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

.flex-important {
  display: flex !important;
}

.slick-prev:before,
.slick-next:before {
  color: #333a73 !important;
}

.focus-outline-none:focus {
  outline: none !important;
  border: none !important;
  --tw-ring-shadow: none;
}

/*.h-100vh {
    height: 100vh !important;
}

.translate-r-20 {
    transform: translateX(20px);
}

.translate-l-20 {
    transform: translateX(-20px);
}

.shift-r-16 {
    position: relative;
    left: 16px;
}

.shift-r-30 {
    position: relative;
    left: 30px;
}

.shift-r-60 {
    position: relative;
    left: 60px;
}

.shift-l-20 {
    position: relative;
    right: 20px;
}
 */
